.nav a {
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

ul.nav a:hover {
    background-color: #fff !important;
}

.distance-y {
    margin-bottom: 2%;
}

.distance-x {
    margin-right: 2%;
}

.frame {
    background-color: #fff;
    margin-bottom: 4%;
}

.number-display{
    display:block;
    text-align: center;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.projections {
    display:block;
    text-align: center;
    font-family: 'Lato', Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 400;
}
